<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomeAdmin</servlet-name>
        <servlet-class>controller.HomeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindCategoriesServlet</servlet-name>
        <servlet-class>controller.FindCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategoriesServlet</servlet-name>
        <servlet-class>controller.UpdateCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategoriesServlet</servlet-name>
        <servlet-class>controller.DeleteCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePriceServlet</servlet-name>
        <servlet-class>controller.UpdatePriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPriceServlet</servlet-name>
        <servlet-class>controller.ListPriceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <servlet-class>controller.SearchCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCategoriesServlet</servlet-name>
        <servlet-class>controller.AddCategoriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProducts</servlet-name>
        <servlet-class>controller.POS.LoadProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>controller.POS.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.POS.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAccountServlet</servlet-name>
        <servlet-class>controller.ListAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>controller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLookup</servlet-name>
        <servlet-class>controller.POS.CustomerLookup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerPosServlet</servlet-name>
        <servlet-class>controller.POS.AddCustomerPosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetOrderServlet</servlet-name>
        <servlet-class>controller.POS.ResetOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controller.POS.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QrPaymentServlet</servlet-name>
        <servlet-class>controller.POS.QrPaymentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVNPayQRServlet</servlet-name>
        <servlet-class>controller.POS.CreateVNPayQRServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VNPayReturnServlet</servlet-name>
        <servlet-class>controller.POS.VNPayReturnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOrderServlet</servlet-name>
        <servlet-class>controller.ListOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderServlet</servlet-name>
        <servlet-class>controller.SearchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditOrderServlet</servlet-name>
        <servlet-class>controller.EditOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScanBarcodeServlet</servlet-name>
        <servlet-class>controller.POS.ScanBarcodeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BarcodeImageServlet</servlet-name>
        <servlet-class>controller.POS.BarcodeImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>controller.POS.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FaqServlet</servlet-name>
        <servlet-class>controller.FaqServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>controller.BlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostDetailServlet</servlet-name>
        <servlet-class>controller.PostDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostByTagServlet</servlet-name>
        <servlet-class>controller.PostByTagServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikePostServlet</servlet-name>
        <servlet-class>controller.LikePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerCreatePostServlet</servlet-name>
        <servlet-class>controller.CustomerCreatePostServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>controller.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewShopDetailServlet</servlet-name>
        <servlet-class>controller.ViewShopDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListJobServlet</servlet-name>
        <servlet-class>controller.ListJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewJobServlet</servlet-name>
        <servlet-class>controller.AddNewJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListJobForCustomerServlet</servlet-name>
        <servlet-class>controller.ListJobForCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindJobServlet</servlet-name>
        <servlet-class>controller.FindJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateJobServlet</servlet-name>
        <servlet-class>controller.UpdateJobServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddJobCustomerServlet</servlet-name>
        <servlet-class>controller.AddJobCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePromotionServlet</servlet-name>
        <servlet-class>controller.DeletePromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListJobApplicationServlet</servlet-name>
        <servlet-class>controller.ListJobApplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListAccountServlet</servlet-name>
        <url-pattern>/ListAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProducts</servlet-name>
        <url-pattern>/loadProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/searchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLookup</servlet-name>
        <url-pattern>/customerLookup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerPosServlet</servlet-name>
        <url-pattern>/addCustomerPos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetOrderServlet</servlet-name>
        <url-pattern>/resetOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QrPaymentServlet</servlet-name>
        <url-pattern>/qrPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVNPayQRServlet</servlet-name>
        <url-pattern>/createVNPayQR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VNPayReturnServlet</servlet-name>
        <url-pattern>/vnPayReturn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOrderServlet</servlet-name>
        <url-pattern>/listOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderServlet</servlet-name>
        <url-pattern>/searchOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/orderDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditOrderServlet</servlet-name>
        <url-pattern>/editOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScanBarcodeServlet</servlet-name>
        <url-pattern>/scan-barcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BarcodeImageServlet</servlet-name>
        <url-pattern>/barcode-image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/update-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FaqServlet</servlet-name>
        <url-pattern>/faq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostDetailServlet</servlet-name>
        <url-pattern>/post-detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostByTagServlet</servlet-name>
        <url-pattern>/posts-by-tag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikePostServlet</servlet-name>
        <url-pattern>/like-post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerCreatePostServlet</servlet-name>
        <url-pattern>/customer-create-post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewShopDetailServlet</servlet-name>
        <url-pattern>/ShopDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListJobServlet</servlet-name>
        <url-pattern>/ListJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewJobServlet</servlet-name>
        <url-pattern>/AddJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListJobForCustomerServlet</servlet-name>
        <url-pattern>/ListJobCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindJobServlet</servlet-name>
        <url-pattern>/FindJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateJobServlet</servlet-name>
        <url-pattern>/UpdateJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddJobCustomerServlet</servlet-name>
        <url-pattern>/AddJobCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePromotionServlet</servlet-name>
        <url-pattern>/DeletePromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListJobApplicationServlet</servlet-name>
        <url-pattern>/ListJobApplication</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>view/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ListProductsServlet</servlet-name>
        <servlet-class>controller.ListProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindProductsServlet</servlet-name>
        <servlet-class>controller.FindProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductsServlet</servlet-name>
        <servlet-class>controller.AddProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductsServlet</servlet-name>
        <servlet-class>controller.UpdateProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomerServlet</servlet-name>
        <servlet-class>controller.ListCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>controller.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerServlet</servlet-name>
        <servlet-class>controller.EditCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>controller.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>controller.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductsServlet</servlet-name>
        <servlet-class>controller.DeleteProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUnitServlet</servlet-name>
        <servlet-class>controller.ListUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindUnitServlet</servlet-name>
        <servlet-class>controller.FindUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUnitServlet</servlet-name>
        <servlet-class>controller.AddUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUnitServlet</servlet-name>
        <servlet-class>controller.UpdateUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUnitServlet</servlet-name>
        <servlet-class>controller.DeleteUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCategories</servlet-name>
        <servlet-class>controller.ListCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListEmployee</servlet-name>
        <servlet-class>controller.ListEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>controller.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployee</servlet-name>
        <servlet-class>controller.SearchEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaff</servlet-name>
        <servlet-class>controller.EditEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>controller.DeleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyMailServlet</servlet-name>
        <servlet-class>controller.VerifyMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListProductDiscountServlet</servlet-name>
        <servlet-class>controller.ListProductDiscountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductExpiredServlet</servlet-name>
        <servlet-class>controller.UpdateProductExpiredServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListShopServlet</servlet-name>
        <servlet-class>controller.ListShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShopServlet</servlet-name>
        <servlet-class>controller.AddShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindShopServlet</servlet-name>
        <servlet-class>controller.FindShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateShopServlet</servlet-name>
        <servlet-class>controller.UpdateShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHistoryServlet</servlet-name>
        <servlet-class>controller.DeleteHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShopServlet</servlet-name>
        <servlet-class>controller.DeleteShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailShopServlet</servlet-name>
        <servlet-class>controller.DetailShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromotionManageServlet</servlet-name>
        <servlet-class>controller.PromotionManageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPromotionServlet</servlet-name>
        <servlet-class>controller.AddPromotionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePromotionServlet</servlet-name>
        <servlet-class>controller.UpdatePromotionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCustomerServlet</servlet-name>
        <url-pattern>/listCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/addCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerServlet</servlet-name>
        <url-pattern>/editCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/notificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/deleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <url-pattern>/searchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindCategoriesServlet</servlet-name>
        <url-pattern>/FindCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCategoriesServlet</servlet-name>
        <url-pattern>/AddCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategoriesServlet</servlet-name>
        <url-pattern>/UpdateCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategoriesServlet</servlet-name>
        <url-pattern>/DeleteCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePriceServlet</servlet-name>
        <url-pattern>/UpdatePrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPriceServlet</servlet-name>
        <url-pattern>/ListPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdmin</servlet-name>
        <url-pattern>/HomeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductsServlet</servlet-name>
        <url-pattern>/ListProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindProductsServlet</servlet-name>
        <url-pattern>/FindProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductsServlet</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductsServlet</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListEmployee</servlet-name>
        <url-pattern>/listEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployee</servlet-name>
        <url-pattern>/searchEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaff</servlet-name>
        <url-pattern>/editStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/deleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordServlet</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyMailServlet</servlet-name>
        <url-pattern>/verifycode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductsServlet</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUnitServlet</servlet-name>
        <url-pattern>/ListUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindUnitServlet</servlet-name>
        <url-pattern>/FindUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUnitServlet</servlet-name>
        <url-pattern>/AddUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUnitServlet</servlet-name>
        <url-pattern>/UpdateUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUnitServlet</servlet-name>
        <url-pattern>/DeleteUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCategories</servlet-name>
        <url-pattern>/ListCate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductDiscountServlet</servlet-name>
        <url-pattern>/ProductDiscount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductExpiredServlet</servlet-name>
        <url-pattern>/UpdateProductExpired</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListShopServlet</servlet-name>
        <url-pattern>/ListShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShopServlet</servlet-name>
        <url-pattern>/AddShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindShopServlet</servlet-name>
        <url-pattern>/FindShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateShopServlet</servlet-name>
        <url-pattern>/UpdateShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHistoryServlet</servlet-name>
        <url-pattern>/DeleteHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteShopServlet</servlet-name>
        <url-pattern>/DeleteShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailShopServlet</servlet-name>
        <url-pattern>/DetailShop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromotionManageServlet</servlet-name>
        <url-pattern>/PromotionManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPromotionServlet</servlet-name>
        <url-pattern>/AddPromotion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePromotionServlet</servlet-name>
        <url-pattern>/UpdatePromotion</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>LoginServlet</welcome-file>
    </welcome-file-list>
</web-app>
