<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdmin</servlet-name>
        <servlet-class>controller.HomeAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListShiftStaffServlet</servlet-name>
        <servlet-class>controller.ListShiftStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProducts</servlet-name>
        <servlet-class>controller.POS.LoadProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProduct</servlet-name>
        <servlet-class>controller.POS.SearchProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCart</servlet-name>
        <servlet-class>controller.POS.AddToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShiftDetailServlet</servlet-name>
        <servlet-class>controller.ShiftDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAccountServlet</servlet-name>
        <servlet-class>controller.ListAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>controller.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListShopServlet</servlet-name>
        <servlet-class>controller.ListShopServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignEmployeeServlet</servlet-name>
        <servlet-class>controller.AssignEmployeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAssignmentServlet</servlet-name>
        <servlet-class>controller.UpdateAssignmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAssignmentServlet</servlet-name>
        <servlet-class>controller.DeleteAssignmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListCustomerServlet</servlet-name>
        <url-pattern>/listCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomerServlet</servlet-name>
        <url-pattern>/addCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCustomerServlet</servlet-name>
        <url-pattern>/editCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationServlet</servlet-name>
        <url-pattern>/notificationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/deleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdmin</servlet-name>
        <url-pattern>/HomeAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListShiftStaffServlet</servlet-name>
        <url-pattern>/ListShiftStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShiftDetailServlet</servlet-name>
        <url-pattern>/ShiftDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAccountServlet</servlet-name>
        <url-pattern>/ListAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProducts</servlet-name>
        <url-pattern>/loadProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProduct</servlet-name>
        <url-pattern>/searchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListShopServlet</servlet-name>
        <url-pattern>/ListShopServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignEmployeeServlet</servlet-name>
        <url-pattern>/AssignEmployeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAssignmentServlet</servlet-name>
        <url-pattern>/updateAssignmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAssignmentServlet</servlet-name>
        <url-pattern>/deleteAssignment</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>view/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ListProductsServlet</servlet-name>
        <servlet-class>controller.ListProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindProductsServlet</servlet-name>
        <servlet-class>controller.FindProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductsServlet</servlet-name>
        <servlet-class>controller.AddProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductsServlet</servlet-name>
        <servlet-class>controller.UpdateProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCustomerServlet</servlet-name>
        <servlet-class>controller.ListCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomerServlet</servlet-name>
        <servlet-class>controller.AddCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCustomerServlet</servlet-name>
        <servlet-class>controller.EditCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificationServlet</servlet-name>
        <servlet-class>controller.NotificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>controller.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductsServlet</servlet-name>
        <servlet-class>controller.DeleteProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUnitServlet</servlet-name>
        <servlet-class>controller.ListUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindUnitServlet</servlet-name>
        <servlet-class>controller.FindUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUnitServlet</servlet-name>
        <servlet-class>controller.AddUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUnitServlet</servlet-name>
        <servlet-class>controller.UpdateUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUnitServlet</servlet-name>
        <servlet-class>controller.DeleteUnitServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCategories</servlet-name>
        <servlet-class>controller.ListCategories</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteShiftServlet</servlet-name>
        <servlet-class>controller.DeleteShiftServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteShiftServlet</servlet-name>
        <url-pattern>/DeleteShift</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListProductsServlet</servlet-name>
        <url-pattern>/ListProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindProductsServlet</servlet-name>
        <url-pattern>/FindProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductsServlet</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductsServlet</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ListEmployee</servlet-name>
        <servlet-class>controller.ListEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>controller.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployee</servlet-name>
        <servlet-class>controller.SearchEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaff</servlet-name>
        <servlet-class>controller.EditEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>controller.DeleteEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListEmployee</servlet-name>
        <url-pattern>/listEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployee</servlet-name>
        <url-pattern>/searchEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaff</servlet-name>
        <url-pattern>/editStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/deleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changePasswordServlet</servlet-name>
        <servlet-class>controller.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyMailServlet</servlet-name>
        <servlet-class>controller.VerifyMailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changePasswordServlet</servlet-name>
        <url-pattern>/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyMailServlet</servlet-name>
        <url-pattern>/verifycode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductsServlet</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUnitServlet</servlet-name>
        <url-pattern>/ListUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindUnitServlet</servlet-name>
        <url-pattern>/FindUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUnitServlet</servlet-name>
        <url-pattern>/AddUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUnitServlet</servlet-name>
        <url-pattern>/UpdateUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUnitServlet</servlet-name>
        <url-pattern>/DeleteUnit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCategories</servlet-name>
        <url-pattern>/ListCate</url-pattern>
    </servlet-mapping>
</web-app>
