<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ListEmployee</servlet-name>
        <servlet-class>controller.ListEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>controller.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchEmployee</servlet-name>
        <servlet-class>controller.SearchEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStaff</servlet-name>
        <servlet-class>controller.EditEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>controller.DeleteEmployee</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListEmployee</servlet-name>
        <url-pattern>/listEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/addEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchEmployee</servlet-name>
        <url-pattern>/searchEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStaff</servlet-name>
        <url-pattern>/editStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/deleteEmployee</url-pattern>
    </servlet-mapping>
</web-app>
